/**
 * Global Index Styles
 * Timeline Nullifier v4.0
 */

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Courier New', monospace;
}

#root {
  width: 100%;
  min-height: 100vh;
}
