name: Hugo Build Job

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Build with Hugo
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: "^1.18"
          check-latest: true

      - name: Initialize Go modules
        run: |
          go mod init || true
          go mod tidy
          go mod vendor

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: "latest"

      - name: Build Hugo site
        run: hugo

      - name: Upload site content to artifact
        if: success()
        uses: actions/upload-artifact@v3
        with:
          name: hugo-site-artifact
          path: ./public