name: Hugo Build Job

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Build with Hugo
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "^1.21"
          check-latest: true

      - name: Initialize Go modules
        run: |
          go mod tidy
          go mod vendor

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: "latest"
          extended: true

      - name: Build Hugo site
        run: hugo --minify

      - name: Upload site content to artifact
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: hugo-site-artifact
          path: ./public